<h1 class="text-center">View Contact</h1>
<div class="container mt-5 text-center">
  <div class="card shadow" style="width: 15rem">
    <div class="row">
      <div class="card-body">
        <p class="card-text">Name:{{ contact.name }}</p>
        <p class="card-text">Surname: {{ contact.surname }}</p>
        <p class="card-text">Email:{{ contact.email }} </p>
        <p class="card-text">Mobile:{{contact.mobile}}</p>
      </div>
      <div class="row">
        <div class="col">
          <a class="btn btn-danger" routerLink="/">
            <i class="fa fa-arrow-alt-circle-left"></i> Back</a
          >
        </div>
      </div>
    </div>
  </div>
</div>



